.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}
.App-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.App-header {
    background-color: $darkgrey;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 1vmin);
    color: white;
    padding: 0 10px;
}
.App-nav__item {
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}
.App-nav__link {
    color: white;
    text-decoration: none;
    &:hover {
        border-bottom: 2px solid red;
        transition: 0.2s;
    }
}
.active {
    border-bottom: 2px solid red;
}

.default {
    flex: 1;
}
