.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;

    &_preloader {
        align-items: center;
        justify-content: center;
    }
}
.App-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.App-header {
    background-color: $darkgrey;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 1vmin);
    color: white;
    padding: 0 10px;
}
.App-nav__item {
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}
.App-nav__link {
    color: white;
    text-decoration: none;
    &:hover {
        border-bottom: 2px solid red;
        transition: 0.2s;
    }
}
.active {
    border-bottom: 2px solid red;
}

.default {
    flex: 1;
}
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid $yellow;
    border-color: $yellow transparent $yellow transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
.btnError {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}
.titleError {
    text-align: center;
}
