.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.map-wrapper {
    flex: 1;
    position: relative;
}
.map-route {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 5%;
    width: 490px;
    height: 320px;
    background-color: white;
}
.form-select {
    box-sizing: border-box;
    padding: 10%;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.route-block__inp {
    flex: 1;
    height: 100%;
    font-size: 16px;
}
.form-select__direction {
    position: relative;
    width: 100%;
    height: 17%;
}
.route-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.form-select__btn-wrap {
    width: 100%;
}
.route-wrap_btn {
    font-size: 21px;
    width: 100%;
    padding: 2%;
    font-weight: bold;
    color: black;
    background-color: $yellow;
    border-radius: 7px;

    &:disabled {
        color: rgba(32, 25, 25, 0.26);
        background-color: rgba(0, 0, 0, 0.12);
    }
}
.route-block__inp:focus + .route-block__btns {
    border-bottom: 2px $blue solid;
}
.route-block__btns {
    position: relative;
    width: 10%;
    height: 100%;
    border-bottom: 2px $slGrey solid;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 70%;
        background-color: $slGrey;
    }
}
.route-block__hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.hover-btn {
    position: relative;
    background-color: $lightgrey;
    transform: rotate(45deg);
    width: 9px;
    height: 3px;
    &::after {
        content: "";
        position: absolute;
        top: -150%;
        transform: rotate(-90deg);
        right: -50%;
        width: 10px;
        height: 3px;
        background-color: $lightgrey;
    }
}
.route-list {
    display: none;
    z-index: 10;
    background-color: white;
    position: absolute;
    overflow: auto;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.route-list__item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 35px;
    &:hover {
        background-color: $slGrey;
    }
}
